node_modules
src/imgs/2k_earth_normal_map.tif
src/imgs/2k_earth_specular_map.tif
src/imgs/2k_moon.jpg
src/imgs/2k_stars_milky_way.jpg
src/imgs/8k_stars_milky_way.jpg
src/imgs/mkw-left.png
src/imgs/mkw-right.png
src/imgs/stars-right.png
src/imgs/starts-left.png